 
.row{

    background: #f0aaf0;
}
 

.form-group{
    color: #a6808c;
    font-size: 12pt;
    font-weight:bolder;
}

 
 #img-bg{
    background-image: url('https://i.imgur.com/sdrtvm1.jpg');

    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: #5b3758;
}
